.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  #step1{
    margin-left: 118px;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
